In [1]:
import pandas as pd
# import pymysql
import sys
import os

In [2]:
# # OP.GG Database에 접근하기 위한 연결 객체 생성
# con = pymysql.connect(
#     user = os.environ['LOL_KR_ID'],
#     passwd = os.environ['LOL_KR_PW'],
#     host = os.environ['LOL_KR_HOST'],
#     db = 'lol',
#     charset = 'utf8'
# )
# cursor = con.cursor(pymysql.cursors.DictCursor)

In [3]:
# # 데이터 구조 파악을 위한 sample data fetch
# # SQL
# cursor.execute('''
# SELECT STRAIGHT_JOIN *
# FROM opGame o FORCE INDEX (ix_createDate),
# p_opGameStats p FORCE INDEX (`PRIMARY`)
# WHERE o.gameId = p.gameId
# AND o.createDate >= '2021-10-20'
# AND p.createDate >= '2021-10-20'
# ORDER BY o.createDate DESC
# LIMIT 3000
# ''')
# sample = cursor.fetchall()

# # DataFrame으로 변환
# sample = pd.DataFrame(sample)

# # 저장
# sample.to_csv("sample.csv", mode='w')

In [4]:
# 미리 뽑아둔 CSV 파일에서 가져오기
sample = pd.read_csv('sample.csv', index_col=0)

In [5]:
# 데이터 확인
sample

,gameId,gameMapId,gameType,subType,createDate,gameLength,interestScore,goldLeadChangeCount,isSurrender,coreMinute,...,tierRank,position,isDetail,isRanked,perk0,perkPrimaryStyle,perkSubStyle,opScore,opScoreRank,isOPScoreMaxInTeam
0,5521647261,11,MATCHED_GAME,440,2021-10-21 01:05:26,1627,0,0,NaN,NaN,...,G41,T,1,1,8010,8000,8400,6.26,7,0
1,5521647261,11,MATCHED_GAME,440,2021-10-21 01:05:26,1627,0,0,NaN,NaN,...,S378,J,1,1,8010,8000,8100,6.26,6,0
2,5521647261,11,MATCHED_GAME,440,2021-10-21 01:05:26,1627,0,0,NaN,NaN,...,NaN,A,1,1,8010,8000,8200,4.57,10,0
3,5521647261,11,MATCHED_GAME,440,2021-10-21 01:05:26,1627,0,0,NaN,NaN,...,NaN,S,1,1,8214,8200,8000,5.48,8,0
4,5521647261,11,MATCHED_GAME,440,2021-10-21 01:05:26,1627,0,0,NaN,NaN,...,S21,J,1,1,8010,8000,8300,7.51,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,5521647056,12,MATCHED_GAME,450,2021-10-21 01:03:27,1746,0,0,NaN,NaN,...,S10,NaN,1,0,9923,8100,8000,0.00,0,0
2996,5521647056,12,MATCHED_GAME,450,2021-10-21 01:03:27,1746,0,0,NaN,NaN,...,NaN,NaN,1,0,8351,8300,8000,0.00,0,0
2997,5521647056,12,MATCHED_GAME,450,2021-10-21 01:03:27,1746,0,0,NaN,NaN,...,NaN,NaN,1,0,8128,8100,8000,0.00,0,0
2998,5521647056,12,MATCHED_GAME,450,2021-10-21 01:03:27,1746,0,0,NaN,NaN,...,NaN,NaN,1,0,8128,8100,8000,0.00,0,0
2999,5521647056,12,MATCHED_GAME,450,2021-10-21 01:03:27,1746,0,0,NaN,NaN,...,NaN,NaN,1,0,8128,8100,8000,0.00,0,0

In [6]:
# Column 수가 많아서 print했을 때 다 보이게 옵션 설정
pd.set_option('display.max_columns', None)

In [7]:
# columns 확인
print(sample.columns)

# 값이 정상적인지 보기 위해 describe로 요약 정보 출력
sample.describe(include='all',datetime_is_numeric=True)

Index(['gameId', 'gameMapId', 'gameType', 'subType', 'createDate',
       'gameLength', 'interestScore', 'goldLeadChangeCount', 'isSurrender',
       'coreMinute', 'coreMinuteGoldDiff', 'isComebackWin',
       'maxGoldDiffBeforeComeback', 'maxGoldDiffMinBeforeComeback',
       'firstGoldLeadMinAfterComeback', 'version', 'scanned', 'isFullData',
       'isPlusData', 'p.gameId', 'p.createDate', 'teamId', 'summonerId',
       'isUnknownSummoner', 'participantId', 'championId', 'result',
       'skinIndex', 'spell1', 'spell2', 'leaver', 'experienceEarned',
       'eligibleFirstWinOfDay', 'ipEarned', 'boostXpEarned', 'boostIpEarned',
       'premadeSize', 'item0', 'item1', 'item2', 'item3', 'item4', 'item5',
       'item6', 'level', 'championsKilled', 'numDeaths', 'assists',
       'neutralMinionsKilled', 'turretsKilled', 'barracksKilled',
       'minionsKilled', 'largestMultiKill', 'largestCriticalStrike',
       'largestKillingSpree', 'goldEarned', 'physicalDamageDealtToChampions',
       'magicDamageDealtPlayer', 'physicalDamageTaken',
       'sightWardsBoughtInGame', 'visionWardsBoughtInGame', 'wardKilled',
       'wardPlaced', 'totalHeal', 'totalDamageDealtToChampions',
       'totalDamageDealt', 'totalDamageTaken',
       'neutralMinionsKilledEnemyJungle', 'neutralMinionsKilledTeamJungle',
       'visionScore', 'timeCCingOthers', 'damageSelfMitigated',
       'damageDealtToObjectives', 'damageDealtToTurrets', 'lane', 'role',
       'keystoneMasteryId', 'tierRank', 'position', 'isDetail', 'isRanked',
       'perk0', 'perkPrimaryStyle', 'perkSubStyle', 'opScore', 'opScoreRank',
       'isOPScoreMaxInTeam'],
      dtype='object')

,gameId,gameMapId,gameType,subType,createDate,gameLength,interestScore,goldLeadChangeCount,isSurrender,coreMinute,coreMinuteGoldDiff,isComebackWin,maxGoldDiffBeforeComeback,maxGoldDiffMinBeforeComeback,firstGoldLeadMinAfterComeback,version,scanned,isFullData,isPlusData,p.gameId,p.createDate,teamId,summonerId,isUnknownSummoner,participantId,championId,result,skinIndex,spell1,spell2,leaver,experienceEarned,eligibleFirstWinOfDay,ipEarned,boostXpEarned,boostIpEarned,premadeSize,item0,item1,item2,item3,item4,item5,item6,level,championsKilled,numDeaths,assists,neutralMinionsKilled,turretsKilled,barracksKilled,minionsKilled,largestMultiKill,largestCriticalStrike,largestKillingSpree,goldEarned,physicalDamageDealtToChampions,magicDamageDealtPlayer,physicalDamageTaken,sightWardsBoughtInGame,visionWardsBoughtInGame,wardKilled,wardPlaced,totalHeal,totalDamageDealtToChampions,totalDamageDealt,totalDamageTaken,neutralMinionsKilledEnemyJungle,neutralMinionsKilledTeamJungle,visionScore,timeCCingOthers,damageSelfMitigated,damageDealtToObjectives,damageDealtToTurrets,lane,role,keystoneMasteryId,tierRank,position,isDetail,isRanked,perk0,perkPrimaryStyle,perkSubStyle,opScore,opScoreRank,isOPScoreMaxInTeam
count,3.000000e+03,3000.000000,3000,3000.000000,3000,3000.000000,3000.0,3000.0,0.0,0.0,0.0,3000.0,0.0,0.0,0.0,3000,3000.0,3000.0,3000.0,3.000000e+03,3000,3000.000000,3.000000e+03,3000.000000,3000.00000,3000.000000,3000,3000.0,3000.000000,3000.000000,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.0,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.0,3000.0,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000,3000,3000.0,2723,2680,3000.0,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.000000
unique,NaN,NaN,1,NaN,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,NaN,1168,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,MATCHED_GAME,NaN,2021-10-21 01:04:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.21.403.3002,NaN,NaN,NaN,NaN,2021-10-21 01:04:14,NaN,NaN,NaN,NaN,NaN,WIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOTTOM,SUPPORT,NaN,G40,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,3000,NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000,NaN,NaN,NaN,NaN,70,NaN,NaN,NaN,NaN,NaN,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,916,943,NaN,76,536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5.521633e+09,11.083333,NaN,436.466667,NaN,1637.960000,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,5.521633e+09,NaN,150.000000,4.281253e+07,0.003333,5.50000,163.722667,NaN,0.0,9.605333,6.220667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3783.326667,3601.020667,3256.785667,2961.978667,2597.766333,2040.906000,3218.934667,14.12100,6.211333,6.232333,8.966000,27.548333,0.959667,0.170333,104.817667,1.397667,185.943333,2.799667,11008.901000,8782.499667,7552.230333,13008.042000,0.0,2.435667,2.913667,9.717333,4851.818000,17429.575333,107663.982000,22048.681333,0.0,0.0,23.056667,21.293000,16150.489667,8509.346333,2542.501000,NaN,NaN,0.0,NaN,NaN,1.0,0.766667,8216.652000,8113.800000,8207.500000,5.62673,4.913333,0.178667
std,2.868956e+04,0.276431,NaN,69.998682,NaN,445.987197,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2.868956e+04,NaN,50.008335,3.340025e+07,0.057648,2.87276,190.027822,NaN,0.0,5.851010,4.676244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2029.371249,1863.806845,1779.603458,1687.572804,1806.315983,1782.435529,507.550572,2.90181,5.109015,3.520675,7.196395,46.663849,1.308922,0.446527,75.883432,0.754355,339.455948,2.744092,4046.435338,9657.884030,9726.688667,7237.697817,0.0,2.847671,3.062353,9.365219,5322.673127,11485.449372,69889.673099,11557.925932,0.0,0.0,19.132646,22.177085,14041.141638,10195.589263,3067.861763,NaN,NaN,0.0,NaN,NaN,0.0,0.423023,402.865987,136.146019,129.971975,2.29821,3.202485,0.383137
min,5.521586e+09,11.000000,NaN,420.000000,NaN,510.000000,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,5.521586e+09,NaN,100.000000,6.000000e+00,0.000000,1.00000,1.000000,NaN,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1982.000000,0.000000,0.000000,224.000000,0.0,0.000000,0.000000,0.000000,0.000000,319.000000,484.000000,1331.000000,0.0,0.0,0.000000,0.000000,334.000000,0.000000,0.000000,NaN,NaN,0.0,NaN,NaN,1.0,0.000000,8005.000000,8000.000000,8000.000000,0.00000,0.000000,0.000000
25%,5.521607e+09,11.000000,NaN,420.000000,NaN,1336.750000,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,5.521607e+09,NaN,100.000000,9.706802e+06,0.000000,3.00000,51.000000,NaN,0.0,4.000000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2421.750000,2421.000000,2065.000000,2055.000000,1036.000000,0.000000,3340.000000,12.00000,2.000000,4.000000,4.000000,0.000000,0.000000,0.000000,32.000000,1.000000,0.000000,0.000000,8013.500000,1142.750000,1167.750000,7690.750000,0.0,0.000000,1.000000,4.000000,1320.000000,8992.750000,52837.250000,13513.750000,0.0,0.0,11.000000,8.000000,6899.000000,1483.000000,357.250000,NaN,NaN,0.0,NaN,NaN,1.0,1.000000,8010.000000,8000.000000,8100.000000,5.00750,2.000000,0.000000
50%,5.521637e+09,11.000000,NaN,420.000000,NaN,1624.000000,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,5.521637e+09,NaN,150.000000,3.466541e+07,0.000000,5.50000,99.000000,NaN,0.0,11.000000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3153.000000,3116.000000,3075.000000,3047.000000,3045.000000,2421.500000,3363.000000,14.00000,5.000000,6.000000,7.000000,4.000000,0.000000,0.000000,101.000000,1.000000,0.000000,2.000000,10644.000000,5429.500000,3809.500000,11619.500000,0.0,2.000000,2.000000,7.000000,3001.000000,14932.500000,99170.500000,20114.500000,0.0,0.0,19.000000,17.000000,12018.000000,4415.000000,1439.500000,NaN,NaN,0.0,NaN,NaN,1.0,1.000000,8112.000000,8100.000000,8200.000000,6.06000,5.000000,0.000000
75%,5.521657e+09,11.000000,NaN,430.000000,NaN,1931.250000,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,5.521657e+09,NaN,200.000000,8.318797e+07,0.000000,8.00000,222.000000,NaN,0.0,14.000000,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6630.000000,4628.000000,3508.000000,3158.000000,3134.000000,3105.000000,3364.000000,16.00000,9.000000,8.000000,12.000000,24.000000,2.000000,0.000000,165.000000,2.000000,336.250000,4.000000,13556.000000,13719.250000,10230.250000,17068.750000,0.0,4.000000,4.000000,12.000000,6685.250000,22741.500000,151090.500000,28202.250000,0.0,0.0,30.000000,28.000000,20554.250000,12049.750000,3596.000000,NaN,NaN,0.0,NaN,NaN,1.0,1.000000,8229.000000,8200.000000,8300.000000,7.04000,8.000000,0.000000
max,5.521678e+09,12.000000,NaN,900.000000,NaN,3502.000000,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1.0,0.0,5.521678e+09,NaN,200.000000,8.877319e+07,1.000000,10.00000,887.000000,NaN,0.0,32.000000,32.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8001.000000,7019.000000,8001.000000,8001.000000,8001.000000,8001.000000,3513.000000,27.00000,36.000000,22.000000,65.000000,252.000000,8.000000,4.000000,450.000000,5.000000,2543.000000,25.000000,30434.000000,69732.000000,81613.000000,52645.000000,0.0,42.000000,23.000000,143.000000,45212.000000,85180.000000,594102.000000,90145.000000,0.0,0.0,160.000000,373.000000,127546.000000,87265.000000,33710.000000,NaN,NaN,0.0,NaN,NaN,1.0,1.000000,9923.000000,8400.000000,8400.000000,10.00000,10.000000,1.000000

In [8]:
# 필요한 값만 선택
sample = sample[['gameId','subType','championId','result','position']]

In [9]:
# 최종적으로 만들어진 sample dataframe
sample

          gameId  subType  championId result position
0     5521647261      440         266   LOSE        T
1     5521647261      440          59    WIN        J
2     5521647261      440          81   LOSE        A
3     5521647261      440         350   LOSE        S
4     5521647261      440          64   LOSE        J
...          ...      ...         ...    ...      ...
2995  5521647056      450          29    WIN      NaN
2996  5521647056      450         235   LOSE      NaN
2997  5521647056      450         101   LOSE      NaN
2998  5521647056      450         555    WIN      NaN
2999  5521647056      450          76   LOSE      NaN

[3000 rows x 5 columns]

In [10]:
# Reset sample data
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [11]:
import pandas as pd
import numpy as np
# import pymysql
import sys
import os
from datetime import date, timedelta
from scipy.stats import norm
import requests

In [12]:
# # OP.GG Database에 접근하기 위한 연결 객체 생성
# con = pymysql.connect(
#     user = os.environ['LOL_KR_ID'],
#     passwd = os.environ['LOL_KR_PW'],
#     host = os.environ['LOL_KR_HOST'],
#     db = 'lol',
#     charset = 'utf8'
# )
# cursor = con.cursor(pymysql.cursors.DictCursor)

In [ ]:
# # 패치 날짜 데이터 불러오기
# cursor.execute('''
# SELECT version, date
# FROM lolVersionHistory
# ''')
# patchDate = cursor.fetchall()

# patchDate = pd.DataFrame(patchDate)

# # version => season, patch로 가공, 세부 버전(핫픽스, 밸런싱 X 패치 등) 제거
# patchDate['season'] = pd.to_numeric(patchDate['version'].str.split('.').str[0])
# patchDate['patch'] = pd.to_numeric(patchDate['version'].str.split('.').str[1])
# patchDate = patchDate.groupby(['season','patch'],as_index=False).min('date').drop('version', axis = 1).sort_values(['season','patch'])

In [ ]:
# last_patch_start = patchDate.iloc[-2].date
# last_patch_end = patchDate.iloc[-1].date

In [ ]:
# bot_count = pd.DataFrame()
# spt_count = pd.DataFrame()
# duo_count = pd.DataFrame()

# for date in pd.date_range(last_patch_start,last_patch_end):
    
#     if date.strftime("%Y-%m-%d") == last_patch_start.strftime("%Y-%m-%d"):
#         date_start = last_patch_start.strftime("%Y-%m-%d %H:%M:%S")
#     else:
#         date_start = date.strftime("%Y-%m-%d 00:00:00")
        
#     if date.strftime("%Y-%m-%d") == last_patch_end.strftime("%Y-%m-%d"):
#         date_end = last_patch_end.strftime("%Y-%m-%d %H:%M:%S")
#     else:
#         date_end = (date+timedelta(1)).strftime("%Y-%m-%d 00:00:00")
        
#     # BOT data fetch
#     # SQL
#     cursor.execute(f'''
#     SELECT STRAIGHT_JOIN o.gameId, tierRank, championId, result
#     FROM opGame o FORCE INDEX (ix_createDate),
#     p_opGameStats p FORCE INDEX (`PRIMARY`)
#     WHERE o.gameId = p.gameId
#     AND o.createDate >= '{date_start}'
#     AND o.createDate < '{date_end}'
#     AND p.createDate >= '{date_start}'
#     AND p.createDate < '{date_end}'
#     AND position ='A'
#     AND result != 3
#     AND subType = 420
#     ''')
#     botstats = cursor.fetchall()
#     botstats = pd.DataFrame(botstats)
#     botstats['tierRank'] = botstats['tierRank'].str[0]
#     botstats = botstats[botstats.tierRank.isin(['P','D','M','R','C'])]
    
#     # SPT data fetch
#     # SQL
#     cursor.execute(f'''
#     SELECT STRAIGHT_JOIN o.gameId, tierRank, championId, result
#     FROM opGame o FORCE INDEX (ix_createDate),
#     p_opGameStats p FORCE INDEX (`PRIMARY`)
#     WHERE o.gameId = p.gameId
#     AND o.createDate >= '{date_start}'
#     AND o.createDate < '{date_end}'
#     AND p.createDate >= '{date_start}'
#     AND p.createDate < '{date_end}'
#     AND position ='S'
#     AND result != 3
#     AND subType = 420
#     ''')
#     sptstats = cursor.fetchall()
#     sptstats = pd.DataFrame(sptstats)
#     sptstats['tierRank'] = sptstats['tierRank'].str[0]
#     sptstats = sptstats[sptstats.tierRank.isin(['P','D','M','R','C'])]
    
#     # bot count
#     bot_count_new = botstats.groupby(['championId'],as_index=False).\
#     apply(lambda x: pd.Series({'win_count':sum(x['result'] == 'WIN'),
#                                'count':len(x)}))
    
#     # spt count
#     spt_count_new = sptstats.groupby(['championId'],as_index=False).\
#     apply(lambda x: pd.Series({'win_count':sum(x['result'] == 'WIN'),
#                                'count':len(x)}))
    
#     # duo count
#     duo_count_new = botstats.merge(sptstats,
#                                how = 'inner',
#                                on = ['gameId','result']).\
#     groupby(['championId_x','championId_y'],
#             as_index=False).\
#     apply(lambda x: pd.Series({'win_count':sum(x['result'] == 'WIN'),
#                                'count':len(x)}))
    
#     # concatenate
#     bot_count = pd.concat([bot_count, bot_count_new])
#     spt_count = pd.concat([spt_count, spt_count_new])
#     duo_count = pd.concat([duo_count, duo_count_new])

In [ ]:
# bot_count = bot_count.groupby(['championId'],as_index=False).\
# apply(lambda x: pd.Series({'WR':sum(x['win_count'])/sum(x['count']),
#                            'count':sum(x['count'])}))
# spt_count = spt_count.groupby(['championId'],as_index=False).\
# apply(lambda x: pd.Series({'WR':sum(x['win_count'])/sum(x['count']),
#                            'count':sum(x['count'])}))
# duo_count = duo_count.groupby(['championId_x','championId_y'],as_index=False).\
# apply(lambda x: pd.Series({'WR':sum(x['win_count'])/sum(x['count']),
#                            'count':sum(x['count'])}))

In [ ]:
# # 저장
# bot_count.to_csv("bot_count.csv", mode='w')
# spt_count.to_csv("spt_count.csv", mode='w')
# duo_count.to_csv("duo_count.csv", mode='w')

In [13]:
# 미리 뽑아둔 CSV 파일에서 가져오기
bot_count = pd.read_csv('bot_count.csv', index_col=0)
spt_count = pd.read_csv('spt_count.csv', index_col=0)
duo_count = pd.read_csv('duo_count.csv', index_col=0)

In [14]:
# 픽률 0.5% 이상인 챔피언만 남기기
bot_count = bot_count[bot_count['count'] >= 0.005*sum(bot_count['count'])/2]
spt_count = spt_count[spt_count['count'] >= 0.005*sum(spt_count['count'])/2]

In [15]:
# 매치업 50게임 이상인 조합만 남기기
duo_count = duo_count[duo_count['count'] >= 50]

In [16]:
# DataFrame 병합
duo_count = duo_count.merge(bot_count,
                            how = 'inner',
                            left_on = 'championId_x',
                            right_on = 'championId',
                            suffixes = ('', '_BOT')
                           ).\
                      merge(spt_count,
                            how = 'inner',
                            left_on = 'championId_y',
                            right_on = 'championId',
                            suffixes = ('', '_SPT'))

In [17]:
duo_count = duo_count[['championId_x','championId_y','WR','count','WR_BOT','count_BOT','WR_SPT','count_SPT']]

In [18]:
duo_count

,championId_x,championId_y,WR,count,WR_BOT,count_BOT,WR_SPT,count_SPT
0,15,3,0.528571,70.0,0.505360,10355.0,0.489651,13818.0
1,18,3,0.523316,193.0,0.490314,19977.0,0.489651,13818.0
2,21,3,0.510723,2005.0,0.520475,194680.0,0.489651,13818.0
3,22,3,0.477401,354.0,0.509145,45928.0,0.489651,13818.0
4,29,3,0.451220,82.0,0.506116,13489.0,0.489651,13818.0
...,...,...,...,...,...,...,...,...
859,202,163,0.523490,447.0,0.499212,99561.0,0.533241,4317.0
860,222,163,0.575758,66.0,0.504149,38322.0,0.533241,4317.0
861,236,163,0.517123,292.0,0.496682,178124.0,0.533241,4317.0
862,360,163,0.484615,130.0,0.489920,89337.0,0.533241,4317.0
863,523,163,0.465909,88.0,0.469932,52065.0,0.533241,4317.0

In [19]:
duo_count.sort_values('WR',ascending=False)

,championId_x,championId_y,WR,count,WR_BOT,count_BOT,WR_SPT,count_SPT
805,50,526,0.659574,94.0,0.555117,4563.0,0.512768,15194.0
27,50,12,0.648438,128.0,0.555117,4563.0,0.504591,39751.0
633,96,497,0.636364,55.0,0.504314,6258.0,0.506280,27627.0
696,50,44,0.631579,57.0,0.555117,4563.0,0.507701,5519.0
5,50,3,0.629630,54.0,0.555117,4563.0,0.489651,13818.0
...,...,...,...,...,...,...,...,...
91,18,26,0.352459,122.0,0.490314,19977.0,0.514815,15322.0
153,429,35,0.339286,56.0,0.472913,12423.0,0.491321,14691.0
765,222,79,0.333333,81.0,0.504149,38322.0,0.478861,5582.0
531,429,235,0.333333,78.0,0.472913,12423.0,0.490388,25125.0
739,18,78,0.324324,74.0,0.490314,19977.0,0.513253,4980.0

In [20]:
duo_count['score_SPT'] = norm.cdf((duo_count['WR']-duo_count['WR_BOT'])/
                                  np.sqrt((duo_count['WR']*(1-duo_count['WR']))/duo_count['count']+
                                          (duo_count['WR_BOT']*(1-duo_count['WR_BOT']))/duo_count['count_BOT']))
duo_count['score_BOT'] = norm.cdf((duo_count['WR']-duo_count['WR_SPT'])/
                                  np.sqrt((duo_count['WR']*(1-duo_count['WR']))/duo_count['count']+
                                          (duo_count['WR_SPT']*(1-duo_count['WR_SPT']))/duo_count['count_SPT']))
duo_count['score'] = norm.cdf((duo_count['WR']-0.5)/
                              np.sqrt((duo_count['WR']*(1-duo_count['WR']))/duo_count['count']))

In [22]:
duo_count

,championId_x,championId_y,WR,count,WR_BOT,count_BOT,WR_SPT,count_SPT,score_SPT,score_BOT,score
0,15,3,0.528571,70.0,0.505360,10355.0,0.489651,13818.0,0.650892,0.742372,0.683986
1,18,3,0.523316,193.0,0.490314,19977.0,0.489651,13818.0,0.819524,0.823791,0.741682
2,21,3,0.510723,2005.0,0.520475,194680.0,0.489651,13818.0,0.192416,0.961124,0.831606
3,22,3,0.477401,354.0,0.509145,45928.0,0.489651,13818.0,0.116800,0.324328,0.197312
4,29,3,0.451220,82.0,0.506116,13489.0,0.489651,13818.0,0.159641,0.242814,0.187355
...,...,...,...,...,...,...,...,...,...,...,...
859,202,163,0.523490,447.0,0.499212,99561.0,0.533241,4317.0,0.847421,0.347173,0.839977
860,222,163,0.575758,66.0,0.504149,38322.0,0.533241,4317.0,0.880213,0.756004,0.893488
861,236,163,0.517123,292.0,0.496682,178124.0,0.533241,4317.0,0.757548,0.296857,0.720911
862,360,163,0.484615,130.0,0.489920,89337.0,0.533241,4317.0,0.451870,0.137181,0.362798
863,523,163,0.465909,88.0,0.469932,52065.0,0.533241,4317.0,0.469875,0.105015,0.260731

In [21]:
duo_count.sort_values('score',ascending=False)

,championId_x,championId_y,WR,count,WR_BOT,count_BOT,WR_SPT,count_SPT,score_SPT,score_BOT,score
261,21,57,0.564077,6063.0,0.520475,194680.0,0.531802,38221.0,1.000000e+00,9.999987e-01,1.000000e+00
114,21,32,0.544805,18469.0,0.520475,194680.0,0.521745,78364.0,1.000000e+00,1.000000e+00,1.000000e+00
238,21,53,0.553326,10314.0,0.520475,194680.0,0.523520,86096.0,1.000000e+00,1.000000e+00,1.000000e+00
324,21,89,0.538076,13565.0,0.520475,194680.0,0.512418,83065.0,9.999648e-01,1.000000e+00,1.000000e+00
243,67,53,0.546699,5332.0,0.518718,89405.0,0.523520,86096.0,9.999664e-01,9.995143e-01,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
683,145,875,0.436957,1380.0,0.484368,111601.0,0.452719,13790.0,2.087186e-04,1.302500e-01,1.169955e-06
86,360,25,0.419283,892.0,0.489920,89337.0,0.491850,36812.0,1.051232e-05,7.167398e-06,5.156797e-07
599,360,412,0.465795,5584.0,0.489920,89337.0,0.496203,106928.0,2.277409e-04,4.493381e-06,1.495591e-07
579,523,350,0.427301,2249.0,0.469932,52065.0,0.487878,95530.0,3.169083e-05,4.769564e-09,1.591937e-12
565,81,350,0.457880,20940.0,0.483391,196795.0,0.487878,95530.0,9.447550e-13,1.556819e-15,1.027227e-34

In [23]:
# 챔피언 Key값에 대한 Value 가져오기
last_version = requests.get("https://ddragon.leagueoflegends.com/api/versions.json").json()[0]
champion_constant = requests.get("http://ddragon.leagueoflegends.com/cdn/"+last_version+"/data/ko_KR/champion.json")

In [24]:
# Json 파일을 DataFrame으로 변환
champion_df = pd.DataFrame(champion_constant.json()['data']).T[['key','name']]

# 변수형 문자 -> 숫자
champion_df['key'] = pd.to_numeric(champion_df['key'])

In [25]:
champion_df

         key  name
Aatrox   266  아트록스
Ahri     103    아리
Akali     84   아칼리
Akshan   166   아크샨
Alistar   12  알리스타
...      ...   ...
Zed      238    제드
Ziggs    115    직스
Zilean    26   질리언
Zoe      142    조이
Zyra     143   자이라

[157 rows x 2 columns]

In [26]:
# 챔피언 key -> name
duo_count = duo_count.merge(champion_df,
                            how = 'inner',
                            left_on = 'championId_x',
                            right_on = 'key').\
                      merge(champion_df,
                            how = 'inner',
                            left_on = 'championId_y',
                            right_on = 'key',
                            suffixes = ('_BOT','_SPT')
                           )

In [27]:
# 필요한 컬럼만 취합
result = duo_count[['name_BOT','name_SPT','WR','count','score','score_BOT','score_SPT']].\
sort_values('score',ascending=False)

In [28]:
result

,name_BOT,name_SPT,WR,count,score,score_BOT,score_SPT
261,미스 포츈,마오카이,0.564077,6063.0,1.000000e+00,9.999987e-01,1.000000e+00
324,미스 포츈,레오나,0.538076,13565.0,1.000000e+00,1.000000e+00,9.999648e-01
238,미스 포츈,블리츠크랭크,0.553326,10314.0,1.000000e+00,1.000000e+00,1.000000e+00
114,미스 포츈,아무무,0.544805,18469.0,1.000000e+00,1.000000e+00,1.000000e+00
243,베인,블리츠크랭크,0.546699,5332.0,1.000000e+00,9.995143e-01,9.999664e-01
...,...,...,...,...,...,...,...
683,카이사,세트,0.436957,1380.0,1.169955e-06,1.302500e-01,2.087186e-04
85,사미라,모르가나,0.419283,892.0,5.156797e-07,7.167398e-06,1.051232e-05
598,사미라,쓰레쉬,0.465795,5584.0,1.495591e-07,4.493381e-06,2.277409e-04
578,아펠리오스,유미,0.427301,2249.0,1.591937e-12,4.769564e-09,3.169083e-05
565,이즈리얼,유미,0.457880,20940.0,1.027227e-34,1.556819e-15,9.447550e-13

In [35]:
result[result.name_BOT == '미스 포츈']

    name_BOT name_SPT        WR    count     score  score_BOT     score_SPT
261    미스 포츈     마오카이  0.564077   6063.0  1.000000   0.999999  1.000000e+00
324    미스 포츈      레오나  0.538076  13565.0  1.000000   1.000000  9.999648e-01
238    미스 포츈   블리츠크랭크  0.553326  10314.0  1.000000   1.000000  1.000000e+00
114    미스 포츈      아무무  0.544805  18469.0  1.000000   1.000000  1.000000e+00
391    미스 포츈     노틸러스  0.541843   4254.0  1.000000   1.000000  9.971711e-01
802    미스 포츈        렐  0.554953   2211.0  1.000000   0.999903  9.994098e-01
582    미스 포츈      쓰레쉬  0.521504  11486.0  0.999998   1.000000  5.849982e-01
626    미스 포츈       라칸  0.534212   3946.0  0.999992   0.999498  9.566071e-01
851    미스 포츈      탈리야  0.573248    628.0  0.999897   0.970746  9.962015e-01
24     미스 포츈     알리스타  0.525362   4909.0  0.999813   0.997012  7.508580e-01
649    미스 포츈      파이크  0.521081   5218.0  0.998849   0.998490  5.344702e-01
92     미스 포츈      질리언  0.532233   1939.0  0.997777   0.926188  8.490961e-01
47     미스 포츈      소라카  0.521801   2798.0  0.989517   0.869112  5.554666e-01
740    미스 포츈       뽀삐  0.532951    698.0  0.959501   0.835635  7.452162e-01
786    미스 포츈       자크  0.529048    809.0  0.951061   0.944321  6.870576e-01
491    미스 포츈      브라움  0.517664   2123.0  0.948318   0.726069  3.982827e-01
414    미스 포츈       룰루  0.510291   6073.0  0.945682   0.994838  5.899007e-02
157    미스 포츈       소나  0.526726    898.0  0.945651   0.846284  6.459250e-01
771    미스 포츈        쉔  0.527319    787.0  0.937618   0.840701  6.494412e-01
69     미스 포츈     모르가나  0.508936   4700.0  0.889799   0.986323  5.895699e-02
710    미스 포츈      베이가  0.515817   1138.0  0.857172   0.894513  3.769614e-01
605    미스 포츈       바드  0.511081   2211.0  0.851372   0.375546  1.897951e-01
726    미스 포츈      트런들  0.523232    495.0  0.849640   0.966828  5.488223e-01
437    미스 포츈      자이라  0.510499   2143.0  0.834548   0.501882  1.791175e-01
2      미스 포츈      갈리오  0.510723   2005.0  0.831606   0.961124  1.924162e-01
755    미스 포츈     그라가스  0.517774    647.0  0.817213   0.969620  4.454249e-01
559    미스 포츈       유미  0.504036   9168.0  0.780201   0.998441  1.046756e-03
513    미스 포츈       세나  0.505015   2592.0  0.695224   0.921926  5.892914e-02
693    미스 포츈       타릭  0.508929    560.0  0.663723   0.522083  2.926145e-01
174    미스 포츈       잔나  0.502310   1515.0  0.571363   0.390412  7.947978e-02
284    미스 포츈      브랜드  0.499323   1478.0  0.479255   0.732639  5.259678e-02
456    미스 포츈      세라핀  0.498948   1902.0  0.463461   0.902703  3.084567e-02
303    미스 포츈      판테온  0.497253   1456.0  0.416966   0.949758  3.872913e-02
195    미스 포츈      카르마  0.497580   4339.0  0.374936   0.945008  1.426237e-03
137    미스 포츈       샤코  0.495939   1970.0  0.359238   0.649861  1.511147e-02
536    미스 포츈       나미  0.495333   3321.0  0.295304   0.267150  2.029632e-03
474    미스 포츈      벨코즈  0.490233   1075.0  0.260886   0.407176  2.396228e-02
838    미스 포츈     애니비아  0.479452    584.0  0.160120   0.265718  2.377226e-02
823    미스 포츈       벡스  0.481807    797.0  0.151995   0.647720  1.461878e-02
347    미스 포츈       럭스  0.487918   2814.0  0.099877   0.861458  3.012888e-04
369    미스 포츈      제라스  0.485816   6204.0  0.012696   0.227994  3.784039e-08
672    미스 포츈       세트  0.466940   1709.0  0.003077   0.866875  5.013674e-06
218    미스 포츈      스웨인  0.448243   1053.0  0.000366   0.026489  1.298720e-06

In [37]:
result[result.name_SPT == '블리츠크랭크']

    name_BOT name_SPT        WR    count     score  score_BOT  score_SPT
238    미스 포츈   블리츠크랭크  0.553326  10314.0  1.000000   1.000000   1.000000
243       베인   블리츠크랭크  0.546699   5332.0  1.000000   0.999514   0.999966
247       직스   블리츠크랭크  0.564568   1541.0  1.000000   0.999361   0.996939
249      카이사   블리츠크랭크  0.518961  10469.0  0.999948   0.188973   1.000000
253      루시안   블리츠크랭크  0.523697   6351.0  0.999922   0.510860   0.999989
252      징크스   블리츠크랭크  0.530669   2152.0  0.997820   0.744202   0.991769
236      시비르   블리츠크랭크  0.563941    477.0  0.997570   0.962072   0.994161
237    트리스타나   블리츠크랭크  0.537080   1281.0  0.996112   0.833018   0.999430
248     드레이븐   블리츠크랭크  0.529060   1841.0  0.993755   0.681251   0.987468
256       자야   블리츠크랭크  0.538366    808.0  0.985651   0.800259   0.993638
242     케이틀린   블리츠크랭크  0.521013   1975.0  0.969209   0.412716   0.914574
251        진   블리츠크랭크  0.513269   4861.0  0.967907   0.082068   0.972232
241      스웨인   블리츠크랭크  0.553763    186.0  0.929897   0.796400   0.485478
246      바루스   블리츠크랭크  0.529897    485.0  0.906446   0.610482   0.992467
239       애쉬   블리츠크랭크  0.513118   2325.0  0.897157   0.161035   0.645788
250      야스오   블리츠크랭크  0.530220    364.0  0.876001   0.600857   0.873838
258      코그모   블리츠크랭크  0.539394    165.0  0.844996   0.658613   0.813873
254      사미라   블리츠크랭크  0.504676   5667.0  0.759307   0.002994   0.984399
255     칼리스타   블리츠크랭크  0.509847    914.0  0.724246   0.205375   0.984455
257    아펠리오스   블리츠크랭크  0.505837   2570.0  0.723012   0.038618   0.999810
245      제라스   블리츠크랭크  0.504225    355.0  0.563256   0.234035   0.484143
244     이즈리얼   블리츠크랭크  0.499443   9881.0  0.455943   0.000003   0.999078
240      트위치   블리츠크랭크  0.494624    558.0  0.399742   0.086776   0.297333

In [38]:
result[result.name_BOT == '사미라']

    name_BOT name_SPT        WR   count         score  score_BOT  score_SPT
277      사미라     마오카이  0.512947  4673.0  9.616907e-01   0.007453   0.998929
40       사미라     알리스타  0.510247  6685.0  9.531260e-01   0.803960   0.999329
130      사미라      아무무  0.509225  7859.0  9.490703e-01   0.017144   0.999485
407      사미라     노틸러스  0.510548  4930.0  9.307655e-01   0.929705   0.997603
818      사미라        렐  0.509420  4034.0  8.843084e-01   0.352655   0.992311
340      사미라      레오나  0.506181  9141.0  8.813957e-01   0.128800   0.998471
849      사미라     애니비아  0.531469   143.0  7.746093e-01   0.815314   0.840100
254      사미라   블리츠크랭크  0.504676  5667.0  7.593066e-01   0.002994   0.984399
782      사미라        쉔  0.507212   416.0  6.156993e-01   0.481555   0.759218
706      사미라       타릭  0.505155   291.0  5.698029e-01   0.466264   0.698100
552      사미라       나미  0.493601   547.0  3.823468e-01   0.367831   0.568157
836      사미라       벡스  0.487923   207.0  3.640607e-01   0.646195   0.477102
862      사미라      탈리야  0.484615   130.0  3.627982e-01   0.137181   0.451870
189      사미라       잔나  0.486014   286.0  3.180227e-01   0.250845   0.447508
723      사미라      베이가  0.474359   156.0  2.606455e-01   0.300307   0.348678
798      사미라       자크  0.487334   829.0  2.328191e-01   0.257309   0.441062
62       사미라      소라카  0.477848   316.0  2.152502e-01   0.123248   0.334013
751      사미라       뽀삐  0.478142   366.0  2.012587e-01   0.097177   0.326295
470      사미라      세라핀  0.464706   170.0  1.780923e-01   0.319700   0.255101
642      사미라       라칸  0.488735  1731.0  1.742202e-01   0.078300   0.461079
170      사미라       소나  0.449541   109.0  1.447964e-01   0.109020   0.198514
620      사미라       바드  0.470588   323.0  1.447949e-01   0.057972   0.243583
298      사미라      브랜드  0.454976   211.0  9.453261e-02   0.150903   0.154313
529      사미라       세나  0.458904   292.0  7.937886e-02   0.141548   0.144150
506      사미라      브라움  0.467230   473.0  7.658080e-02   0.030040   0.161957
232      사미라      스웨인  0.469314   554.0  7.391350e-02   0.317615   0.166312
487      사미라      벨코즈  0.437037   135.0  7.012408e-02   0.092814   0.107894
363      사미라       럭스  0.457143   420.0  3.894107e-02   0.208626   0.089272
318      사미라      판테온  0.475053  1423.0  2.974839e-02   0.513423   0.132592
451      사미라      자이라  0.439883   341.0  1.265955e-02   0.004782   0.031591
107      사미라      질리언  0.431298   262.0  1.237172e-02   0.003404   0.027868
767      사미라     그라가스  0.446729   535.0  6.598070e-03   0.076725   0.022566
665      사미라      파이크  0.474476  2860.0  3.132215e-03   0.004757   0.051744
152      사미라       샤코  0.422492   329.0  2.212743e-03   0.006228   0.006731
18       사미라      갈리오  0.459671  1277.0  1.915581e-03   0.019881   0.015638
384      사미라      제라스  0.436364   550.0  1.309329e-03   0.005213   0.005789
575      사미라       유미  0.451524  1083.0  6.736200e-04   0.008413   0.005805
737      사미라      트런들  0.368421   152.0  3.855527e-04   0.002726   0.000959
211      사미라      카르마  0.409326   386.0  1.456151e-04   0.001346   0.000657
430      사미라       룰루  0.436170   846.0  9.064786e-05   0.000437   0.000852
688      사미라       세트  0.443703  1199.0  4.360156e-05   0.273370   0.000688
85       사미라     모르가나  0.419283   892.0  5.156797e-07   0.000007   0.000011
598      사미라      쓰레쉬  0.465795  5584.0  1.495591e-07   0.000004   0.000228

In [43]:
result[result.name_SPT == '세나']

    name_BOT name_SPT        WR   count     score  score_BOT  score_SPT
516      스웨인       세나  0.558333   240.0  0.965607   0.982549   0.538950
517     케이틀린       세나  0.518879   821.0  0.860525   0.946062   0.780275
513    미스 포츈       세나  0.505015  2592.0  0.695224   0.921926   0.058929
511      시비르       세나  0.518135   193.0  0.692941   0.778904   0.637550
520      제라스       세나  0.509461   687.0  0.690077   0.838089   0.583932
514       애쉬       세나  0.503800   921.0  0.591212   0.788020   0.374030
522       직스       세나  0.501571   955.0  0.538668   0.751238   0.047840
523     드레이븐       세나  0.498233   283.0  0.476299   0.603524   0.448584
531       자야       세나  0.485149   101.0  0.382606   0.458129   0.435129
533      코그모       세나  0.473684    57.0  0.345348   0.400410   0.322382
527      징크스       세나  0.485714   385.0  0.287453   0.427753   0.235726
518       베인       세나  0.488212  1018.0  0.225900   0.445849   0.026421
525      야스오       세나  0.469274   179.0  0.205045   0.286364   0.210013
512    트리스타나       세나  0.460432   139.0  0.174651   0.239901   0.240602
526        진       세나  0.485261  1764.0  0.107741   0.338522   0.122594
532    아펠리오스       세나  0.469602   477.0  0.091713   0.183767   0.494263
529      사미라       세나  0.458904   292.0  0.079379   0.141548   0.144150
515      트위치       세나  0.430894   123.0  0.060848   0.091906   0.046782
521      바루스       세나  0.442105   190.0  0.054043   0.090942   0.193617
519     이즈리얼       세나  0.479619  3778.0  0.006078   0.108371   0.322849
524      카이사       세나  0.456216   925.0  0.003753   0.020233   0.043457
530     칼리스타       세나  0.333333    78.0  0.000897   0.001655   0.004582
528      루시안       세나  0.460139  1869.0  0.000273   0.005690   0.000808